<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Ninja</title>
</head>

<body>

      <div class="headings">
      <h1>All Blogs</h1>
    </div>

  <div class="blogs-content">
    {{#each blogs as |blog|}}


    <div>
      <ol>
        <li>
          {{!-- title: How To Code, by: John Foe
          text: 'coding is hard and it is driving me crazy... one day ill get it but its pissing me off' --}}

          {{blog.id}},
          {{blog.title}},
          {{blog.author}},
          {{blog.text}}
          {{format_time date_created}}
        </li>
      </ol>
    </div>
    {{/each}}
  </div>
</body>

</html>