
  {{!-- {{#each blogs as |blog|}} --}}




    
            {{blogs.id}},
            {{blogs.title}},
            {{blogs.author}},
            {{blogs.text}}
            {{!-- {{format_time date_created}} --}}
{{!-- {{/each}} --}}


</body>