<div>
  <div>
    <!-- Below we are rendering the name of one dish using a Handlebars.js expression -->
    {{ title }} <p>by</p>
    {{author}}  
    {{ date_created }}
    <p>:</p>
    {{ text }}
  </div>
  {{#if active}}
  <p>This user is active now</p>
    {{else}}
  <p>User is not active</p>
  {{/if}}

</div>