<html>

<body>


  {{{body}}}

  <div class="blogs-content">

    <div class="headings">
      <h1>Welcome To The Dashboard</h1>
    </div>

        <h2>My Blogs</h2>


    {{#each users as |user|}}
    {{user.user_name}}
    {{/each}}



    {{#each blogs as |blog|}}


    <div class="blog-cont">
      <ol>
        <li>
          {{!-- title: How To Code, by: John Foe
          text: 'coding is hard and it is driving me crazy... one day ill get it but its pissing me off' --}}

          {{blog.id}},
          {{blog.title}},
          {{blog.author}},
          {{blog.text}}
          {{format_time date_created}}



          <div class="deleteBtn">
            <button>delete</button>
          </div>
          {{!-- <button id="delete">delete</button> --}}
        </li>
      </ol>
    </div>
    {{/each}}
  </div>

  <div class="buttonDiv">
    <a href="/create-post"><button id="newPost-btn">New Blog Post</button></a>
  </div>


</body>

</html>